*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: rgb(255, 105, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

}

.container{
    width: 1000px;
    margin: auto;
    
}


/* header  */
.container.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 20px;
    margin: 10px;
}

.dub a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 900
}

.mini-nav i{
    color: white;
    font-size: 12px;
}


/* main  */

.container.main{
    width: 1000px;
    margin-top: 88px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.top-box{
    width: 32%;
    background-color: white;
}

.pic img{
    max-width: 100%;
}

.pic{
    position: relative;
}

.discount{
    width: 45px;
    font-size: 12px;
    text-align: center;
    padding: 4px;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 40px;
}

.sustainable{
    width: 90px;
    font-size: 12px;
    text-align: center;
    padding: 4px;
    background-color: green;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 55px;
}

.sustainable.no-disc{
    position: absolute;
    bottom: 40px;
    left: 0;
}

.heart{
    background-color: white;
    width: 35px;
    text-align: center;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 5px;

}

.text h3{
    font-size: 12px;
}

span.price{
    color: red;
    font-size: 14px;
    font-weight: 900;
}

span.old-price{
    font-size: 14px;
    text-decoration-line: line-through;
}

.text{
    margin-bottom: 50px;
}

img.cover-pic:hover{
    display: none;
}

img.cover-pic{
    position: absolute;
    bottom: 0;
}



/* footer  */
footer{
    background-color: black;
}

.container.foot{
    display: flex; 
    justify-content: space-between;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ft-lft h4{
    font-size: 16px;
    margin-bottom: 5px;
}

.ft-lft a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    margin-right: 5px;
}

.ft-rght span{
    display: block;
    font-size: 13px;
    margin-bottom: 5px;

}

.ft-rght i{
    margin-right: 5px;
}