*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: rgb(255, 105, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.container{
    width: 1000px;
    margin: auto;
    display: flex;
}


/* header  */
.container.head{
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 20px;
    margin: 10px;
}

.dub a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 900
}

.mini-nav i{
    color: white;
    font-size: 12px;
}


/* main  */

.box-cntr{
    height: 800px;
    width: 1000px;
    margin-top: 88px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.top-box{
    width: 32%;
    height: 500px;
    background-color: white;
    border: 1px solid black;

}


/* footer  */
footer{
    background-color: black;
}

.container.foot{
    display: flex; 
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
